@charset "ISO-8859-1";
.reg-panel{
    padding: 5%;
    float: left;
    width: 49%;
    margin-top: 5%;
    padding-top: 0%;
}

.log-panel{
    padding: 5%;
    float: right;
    width: 49%;
    margin-top: 5%;
    padding-top: 0%;
}

.form-title{
    padding: 2%;
    padding-bottom: 3%;
    text-align: center;
}