@charset "ISO-8859-1";
.reg-panel {
    padding: 5%;
    float: left;
    width: 49%;
    margin-top: 5%;
    padding-top: 0%;
}

.log-panel {
    padding: 5%;
    float: right;
    width: 49%;
    margin-top: 5%;
    padding-top: 0%;
}

.form-title {
    padding: 2%;
    padding-bottom: 3%;
    text-align: center;
}

.form-label {
    font-size: 20px;
}

.divider {
    float: left;
    margin-top: 5%;
    width: 0.2%;
    height: 550px;
    background-color: #FF5733;
}

.modal{
    margin-top: 25%;    
}

.user-detail{
    margin: 0;
    margin-top: -25px;
    height: 32px;
    color: rgb(0, 0, 0);
    font-size: 20px;
    background-color: #f1eceb;
}

.user-detail h3{
    font-size: 21px;
}

.width-balancer{
    margin: auto;
}

.post-create{
    padding: 2%;
    border-radius: 10px;
    border: 1px rgb(8, 127, 238) solid;
    margin-top: 30px;
}

.post {
    margin-top: 25px;
    padding: 2%;
    border-radius: 10px;
    border: 1px rgb(8, 127, 238) solid;
}

.post-header {
    height: 50px;
    margin: 0px;
    padding: 0px;
}

.post-header .publisher {
    margin: 0px;
    padding: 0px;
    margin-left: 15px;
    text-decoration: none;
    font-size: x-large;
}

.comment-button{
    margin-top: 8px;
    font-size: 20px; 
    padding: 4px 16px;
}

.comment-box{
    border: 1px solid green;
}

.comment-area{
    background-color: #f4f9f4;
}

.comment{
    margin-top: 15px;
    border-radius: 10px;
    border: 1px rgb(8, 127, 238) solid;
    background-color: white;
}

.commenter{
    font-size: 16px;
    font-weight: bolder;    
    margin: 5px 20px;
}

.comment-content{
    margin: 5px 20px;
}

.comment-div-hr{
    margin: 0%;
}

.reply-box{
    margin: 5px 20px;
}
.reply{
    margin-left: 50px;
}

.comment-visible{
    margin-top: 10px;
    background-color: white;
}