@charset "ISO-8859-1";
.reg-panel {
    padding: 5%;
    float: left;
    width: 49%;
    margin-top: 5%;
    padding-top: 0%;
}

.log-panel {
    padding: 5%;
    float: right;
    width: 49%;
    margin-top: 5%;
    padding-top: 0%;
}

.form-title {
    padding: 2%;
    padding-bottom: 3%;
    text-align: center;
}

.form-label {
    font-size: 20px;
}

.divider {
    float: left;
    margin-top: 5%;
    width: 0.2%;
    height: 550px;
    background-color: #FF5733;
}

.modal{
    margin-top: 25%;    
}

.user-detail{
    margin: 0;
    margin-top: -25px;
    height: 32px;
    color: rgb(0, 0, 0);
    font-size: 20px;
    background-color: #f1eceb;
}

.user-detail h3{
    font-size: 25px;
}

.width-balancer{
    margin: auto;
}

.post-create{
    padding: 2%;
    border-radius: 10px;
    border: 1px rgb(8, 127, 238) solid;
    margin-top: 30px;
}